html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
body{
  width:100%;
  background-image: linear-gradient(to right,#bdc3c7,#2c3e50);
font-weight: 50px;
  font-family: 'Roboto', sans-serif;

}
footer{
margin-top:40px;
  text-align:center;
}
.commonlink{
  color: white;
}
.nav-link{
  font-size:20px;
  margin-left: 30px;
}
h1{
  text-align: left;
  color:white;
  font-family: 'Noto Serif', serif;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.8);
}
#cimg{
  width:380px;
  height:350px;
  border: 2px solid white;
  border-radius: 100%;
  margin-left: 80px;
  position: relative;
  margin-top: 15px;
  transition-property: transform;
  transition: 1s;
  transition-timing-function: linear;


}
#cimg:hover {
    position:relative;
      transform: rotateY(180deg);


}
#started{
  border:1px solid gray;
  border-radius: 20px;
  /* height:270px; */
  margin-top: 20px;
  background-color:#f4f6ff;
  padding:5px;
  color:brown;
  line-height: 40px;

  /* margin-left: 5px; */
}
#symptoms{
  border:1px solid gray;
  border-radius: 20px;
  /* height:270px; */
  margin-top: 20px;
  line-height: 40px;
  padding:5px;
  background-color:#f4f6ff;
}
.bs,.zoom{
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  transition: transform .2s;
}
#precautions{
  margin-top:30px;margin-left:500px;border:1px solid gray;width:600px;
  /* height:270px; */
  padding:20px;text-align:center;background-color:#f4f6ff;border-radius:20px;
color:#f37121;
margin-right: 20px;
line-height: 30px;
}
.world{
  margin-top:50px;background-image:url('https://wallpapercave.com/wp/wp2593864.jpg');color:white;
}

.current{
  background-image: url('https://w0.pngwave.com/png/351/865/globe-world-map-blue-earth-png-clip-art.png');
  color:black;

}

.zoom:hover{

  transform: scale(1.08);
}

@media (min-width:0px) and (max-width:600px){
  #precautions{
    margin-left:0px;

  }
  /* #started h3{
    font-size: 20px;
  }
  #started p{
    font-size: 14px;
  } */
  .world{
    margin:10px 10px;
  }
  #precautions,#symptoms{
    margin: 10px 10px;
    padding: 10px;
    /* width:510px; */
    /* height: 280px; */
  }


}
@media (min-width:0) and (max-width:300){

  #cimg{
    margin-left: 0px;
  }
}
/* For Countries Page */
#flag{
  box-shadow:3px 3px 5px 6px rgba(0,0,0,0.4);
  border:1px solid white;
  border-radius:10px;
  width:15vw;
}
.flag_col{
  text-align:center;
  margin-top:80px;
  position: relative;
  animation-name: flag;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  /* animation-delay: 1s; */
}
@keyframes flag {
  0%{top:-400px}
  100%{top:0px}
}
.head_div h3{
  font-weight: 30px;
  font-size: 35px;
  color: white;
  font-family: 'Noto Serif', serif;
  text-decoration: underline black;
  text-decoration-thickness:30px;
}
.data_div{
  text-align: left;
}
.data_div h4{
  font-weight: 30px;
  font-size: 25px;
  color:white;
  text-decoration:underline dotted black;
  font-family: 'Roboto', sans-serif;
}
.graph{
  height:500px;
  position: relative;
  animation-name: line_graph;
  animation-fill-mode: forwards;
  animation-duration: 4s;
}
.main_data{
  margin-top:30px;
  text-align:center;
}
@keyframes line_graph {
  0%{left:-1000px}
  100%{left:0px}
}
footer{
  margin-top: 200px;
}

/* Table Styling */

table th {
  padding: 15px;
  font-size: 30px;
 color:white;
 letter-spacing: 3px;
 font-family: 'Noto Serif', serif;
  background-color: gray;
}

table {
  margin-top: 100px;
  border-collapse: collapse;
  border-radius: 20px;
  width: 100%;
  color:white;
}
tr td{
  padding: 10px;
  letter-spacing: 3px;
  font-size: 20px;
}
tr:hover{
  background-color: rgba(99, 110, 114,0.6)
}

table, th, td {
  border: 3px solid #2c3e50;
}
