
</body>

<footer>
  <div style="padding-top:20px;">

<i  style="padding-right:20px ;" class="fab fa-twitter"></i>   <i style="padding-right: 20px;" class="fab fa-facebook-f"></i>   <a href="https://www.instagram.com/vamshi__katkuri/"><i style="padding-right:20px ;" class="fab fa-instagram"></i> </a>   <i class="fas fa-envelope"></i>
</div>
  <p style="color:white;background-color:white;width:300px;margin-left:650px;" class="mt-5 mb-3 text-muted">copyrights  &copy;2020</p>
</footer>
</html>
